<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ng-container *ngIf="contatos.length > 0; else semContatos">

    <ion-list>
      <ion-item *ngFor="let c of contatos">
        <ion-label>
          <h2>{{ c.nome }}</h2>
          <p>{{ c.email }}</p>
          <p>{{ c.telefone }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

  </ng-container>

  <ng-template #semContatos>
    <ion-text color="medium">
      Nenhum contato cadastrado.
    </ion-text>
  </ng-template>

</ion-content>
